#window {
    position: absolute;
    height: 100vh;
    width: 100vw;

    left: 0;
    top: 0;

    background: url('./bg.jpeg');
    background-position: center, top;
    background-repeat: repeat, no-repeat;
    background-size: auto;

    display: flex;
    flex-direction: row;
}

#navigation {
    position: fixed;

    width: 25vw;
    max-width: 8rem;
    height: 100%;
    top: 0;
    left: 0;

    align-items: center;
    -webkit-box-align: center;
    display: flex;

    flex-grow: 1;
}

#nav-content {
    position: relative;
    margin: auto 0;
    box-shadow: 0.5em 0.5em 0.5em #bbb;
    border-radius: 0 16px 16px 0;

    padding: 1.5rem;

    background-color: #fffc;
    
}

#logo {
    align-items: center;

    text-align: center;
    margin: 1rem auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;
}

#account {
    text-align: right;
}

.dropdown, #account {
    width: 100%;
    margin: 1rem auto;

    color: rgb(29, 15, 14);
    font-size: 1.5rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;

    transition: all .175s ease-in-out;
}

#account {
    font-size: small;
    line-height: 1.5rem;
}

.dropdown:hover, #account:hover {
    color: orange;
    text-shadow: 0 0 0.5em #ffa50088;

    transition: all .175s ease-in-out;
}

.dropdown a, #account a {
    text-decoration: none;
    color: rgb(29, 15, 14);
    transition: all .175s ease-in-out;
}

.dropdown a:hover, #account a:hover {
    color: orange;
    transition: all .175s ease-in-out;
}

.version {
    font-size: small; 
    color: gray;
}

#main-wrapper {
    position: fixed;

    right: 0;
    top: 0;

    width: calc(max(100vw - 8rem, 75vw));
    height: 100%;

    align-items: center;
    -webkit-box-align: center;
    display: flex;

    text-align: center;

    flex-grow: 3;
}

.content {
    position: relative;
    margin: auto auto;
}

/* welcome page */

#welcome {
    position: relative;
    width: 75%;
    max-width: 24rem;

    margin: auto auto;
}

#welcome-img {
    width: 100%;
    margin: auto auto;
}

#welcome-img img {
    width: 100%;
}

#welcome-msg {
    margin-top: 1rem;
    font-family: 'Yo Mincho';
}

/* register page */

#register-content {
    box-sizing: border-box;
    background-color: #fffc;
    box-shadow: 0.5em 0.5em 0.5em #bbb;
    border-radius: 16px;

    padding: 1.5rem;
}

.input-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 16px;
    height: 56px;
    border-radius: 12px;
    font-size: 17px;
    transition: border .3s linear;
    padding: 0!important;
}

.input-group {
    color: #525666;
    border: 1px solid #d3d6e2;
    background-color: #fff;
    box-shadow: none;
}

.form-group {
    position: relative;
    margin-bottom: 24px;
}

.input-group-icon {
    height: 24px!important;
    width: 24px!important;
    min-width: 24px!important;
    min-height: 24px!important;
    font-size: 24px!important;
    line-height: 24px!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-ui .stroke, .fill {
    fill: none;
    stroke: #8692b0;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.form-control {
    line-height: 1.5;
    box-shadow: none;
    display: block;
    appearance: none;
    border: none;
}

.regform input:focus {
    outline: none;
}